<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="GlobalTester Perspective"
            class="org.globaltester.core.ui.perspective.GlobalTesterPerspective"
            id="org.globaltester.core.ui.perspective.GlobalTesterPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
         id="org.globaltester.core.ui.navigator"
         name="GlobalTester Navigator"
         class="org.globaltester.core.ui.views.GlobalTesterNavigator"
         >
         </view>
   </extension>
   
</plugin>
