<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.globaltester.core.ui.perspective.GlobalTesterPerspective"
            icon="icons/globaltester.png"
            id="org.globaltester.core.ui.perspective.GlobalTesterPerspective"
            name="GlobalTester Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
               category="org.globaltester.core.ui.category.globaltester"
               class="org.globaltester.core.ui.views.GlobalTesterNavigator"
               icon="icons/globaltester.png"
               id="org.globaltester.core.ui.views.GlobalTesterNavigator"
               name="GlobalTester Navigator">
         </view>
         <category
               id="org.globaltester.core.ui.category.globaltester"
               name="GlobalTester">
         </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.globaltester.core.ui.preferences.GlobalTesterPreferencePage"
            id="org.globaltester.core.ui.preferences.GlobalTesterPreferencePage"
            name="GlobalTester">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.globaltester.core.ui.newWizards.category"
            name="GlobalTester">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.globaltester.core.ui.importWizards.category"
            name="GlobalTester">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.ui.model.WorkbenchContentProvider"
            id="org.globaltester.core.ui.gtNavigatorContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="GlobalTester Navigator Content">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            inheritBindingsFromViewer="org.eclipse.ui.navigator.ProjectExplorer"
            popupMenuId="org.globaltester.core.ui.views.GlobalTesterNavigator.PopupMenu"
            viewerId="org.globaltester.core.ui.views.GlobalTesterNavigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.globaltester.core.ui.views.GlobalTesterNavigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.globaltester.core.ui.gtNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
</plugin>
