<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.globaltester.base.ui.perspective.GlobalTesterPerspective"
            icon="icons/globaltester.png"
            id="org.globaltester.base.ui.perspective.GlobalTesterPerspective"
            name="GlobalTester">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
         <view
               category="org.globaltester.base.ui.views.category"
               class="org.globaltester.base.ui.views.GlobalTesterNavigator"
               icon="icons/globaltester.png"
               id="org.globaltester.base.ui.views.GlobalTesterNavigator"
               name="GlobalTester Navigator">
         </view>
         
         <category
               id="org.globaltester.base.ui.views.category"
               name="GlobalTester">
         </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.globaltester.base.ui.newWizards.category"
            name="GlobalTester">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.globaltester.base.ui.importWizards.category"
            name="GlobalTester">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.globaltester.base.ui.exportWizards.category"
            name="GlobalTester">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.ui.model.WorkbenchContentProvider"
            id="org.globaltester.base.ui.gtNavigatorContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="GlobalTester Navigator Content">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </triggerPoints>
         
      </navigatorContent>
      <commonFilter
	    description="Hides resources that end with &quot;*.a32&quot;"
	    id="org.globaltester.base.ui.hide.a32"
	    name="*.a32 resources"
	    activeByDefault="true">
	    <filterExpression>
	        <and>
	            <adapt type="java.lang.Object">
	                <test property="org.eclipse.core.resources.name" value="*.a32"/>
	            </adapt>
	        </and>
	    </filterExpression>
	  </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="Hides resources that end with &quot;*.xml&quot;"
            id="org.globaltester.base.ui.hide.xml"
            name="*.xml resources">
         <filterExpression>
            <and>
               <adapt
                     type="java.lang.Object">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.xml">
                  </test>
               </adapt>
            </and>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="Hides resources that end with &quot;*.properties&quot;"
            id="org.globaltester.base.ui.hide.properties"
            name="*.properties resources">
         <filterExpression>
            <and>
               <adapt
                     type="java.lang.Object">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.properties">
                  </test>
               </adapt>
            </and>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="Hides metainf folder"
            id="org.globaltester.base.ui.hide.metainf"
            name="metainf folder">
         <filterExpression>
            <and>
               <adapt
                     type="java.lang.Object">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="META-INF">
                  </test>
               </adapt>
            </and>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="Hides target folder"
            id="org.globaltester.base.ui.hide.target"
            name="target folder">
         <filterExpression>
            <and>
               <adapt
                     type="java.lang.Object">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="target">
                  </test>
               </adapt>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="org.globaltester.base.ui.views.GlobalTesterNavigator.PopupMenu"
            viewerId="org.globaltester.base.ui.views.GlobalTesterNavigator">
      </viewer>
      <dragAssistant class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant" viewerId="org.globaltester.base.ui.views.GlobalTesterNavigator">
      </dragAssistant>
      <viewerActionBinding
            viewerId="org.globaltester.base.ui.views.GlobalTesterNavigator">
         <includes>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
       </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.globaltester.base.ui.views.GlobalTesterNavigator">
         <includes>
             <contentExtension
                   isRoot="true"
                   pattern="org.eclipse.ui.navigator.resourceContent"/>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
             <contentExtension pattern="org.globaltester.base.ui.hide.a32"/>
             <contentExtension pattern="org.globaltester.base.ui.hide.xml"/>
             <contentExtension pattern="org.globaltester.base.ui.hide.properties"/>
             <contentExtension pattern="org.globaltester.base.ui.hide.metainf"/>
             <contentExtension pattern="org.globaltester.base.ui.hide.target"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.globaltester.base.ui.preferences.GlobalTesterPreferencePage"
            id="org.globaltester.preferences.GlobalTesterPreferencePage"
            name="GlobalTester">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.globaltester.base.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   
</plugin>
