<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.help.toc">
      <toc file="tocprefs.xml"/>
      <toc file="toclogging.xml"/>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocbefore.xml">
      </toc>
      <toc
            file="tocsupport.xml">
      </toc>
      <toc
            file="tocabout.xml">
      </toc>
      <toc
            file="toc/user/toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocinstall.xml">
      </toc>
      <toc
            file="tocrequirements.xml">
      </toc>
      <toc
            file="tocrequirements.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.globaltester.base.doc.userGuide"
            name="GlobalTester User Guide">
      </category>
   </extension>
</plugin>
